.search-container {
  width: 1251px;
  height: 270px;
  background: #e6f7ff;
  border-radius: 16px;
  margin-left: 90px;
  margin-top: 55px;
}

.search-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  color: #262626;
  margin-left: 95px;
  padding-top: 65px;
}

.form-input {
  margin-left: 95px;
  margin-top: 15px;
}

.form-action {
  margin-left: 95px;
  margin-top: 25px;
}

.loader-container {
  width: 1251px;
  height: 387px;
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 55px;
  margin-left: 90px;
  margin-bottom: 70px;
  padding-top: 25px;
}

.error {
  margin-top: 55px;
  margin-left: 90px;
  color: red;
}
